<div class="container">
  <div class="list">
    <app-card *ngFor="let card of list" [card]="card"></app-card>
  </div>
  <ng-container *ngIf="load; else buttonBlock" class="spinner">
    <mat-spinner></mat-spinner>
  </ng-container>

  <ng-template #buttonBlock>
    <div class="button">
      <button
        *ngIf="isLoadMore"
        mat-raised-button
        color="primary"
        (click)="loadMore()"
      >
        Load more
      </button>
    </div>
    <mat-card *ngIf="!isLoadMore" class="center">Not yet...</mat-card>
  </ng-template>
</div>
